/* ReportIssueButton */

.reportBtn {
    /* text */
    font-size: 1.5rem;
    color: white;
    
    
    /* btn size */
    width: 3rem;
    height: 3rem;

    /* background */
    background-color: black;
    padding: .25rem;
    border-radius: 3rem;
}