/*               */
/* css variables */
/*               */
* {
    --cardZindex: 4;
    
    --transparentBackground: rgba(255, 255, 255, 0);
    --translucentBackground: rgba(211, 211, 211, .25);

    --boxShadowSettings: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* format card parent */
.cardContainer {
    /* coordinate */
    z-index: var(--cardZindex);
    position: absolute; /* super important */

    /* size */
    width: 100vw;
    height: 100vh;

    /* offset */
    padding-top: 64px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;

    /* text formatting */
    display: block;
    text-align: left;
    
    /* color/styling */
    background-image: linear-gradient(rgba(0, 172, 252, 0.15), rgba(0, 255, 179, 0.15));
    backdrop-filter: blur(3px);
}

/* format card children (contents) */
.textBlock {
    /* display controls whether each item
       item is on the same line or stacked */
    display: block;
    color: black;
}

.cardInnards {
    display: block;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-style: normal;
}