#issueCardContent {
  display: none;
}

#postInput {
  width: 20px;
  height: 30px;
}

.inline {
  display: inline;
}

.floatRight {
  float: right;
}

.heightRestriction {
  max-width: 50vw;
  max-height: auto;
  width: 50vw;
  height: auto;
  
}


/* =============================== */
.textBox {
  width: 80vw;
}