#switchToSignUp {
    position: relative;
    padding-top: 8px;
    padding-bottom: 16px;
}

.labelContainer {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
}
.labelContainer button {
    /* color/styling */
    position: relative;
    background-color: rgba(11, 3, 45, 0.95);
    backdrop-filter: blur(3px);

    padding: 8px;

    font-size: small;
    color: white;
}