.overViewPanel {
  padding: 1.5rem;
  /* background-color: white; */
  position: relative;
  top: 1rem;
  right: 50%;
  border-radius: 15px;
}

.buttonPanel {
  padding: 0rem;
  /* background-color: white; */
}

.buttonPanel.hide {
  visibility: hidden;
}

.center {
  margin: auto;
  width: 75%;
}
