/* this same screen also has the issue icons
   these are found in ReportIssueButton.css */

.overViewPanel {
  padding: 1.5rem;
  /* background-color: white; */
  position: relative;
  top: 1rem;
  right: 50%;
  /* border-radius: 15px; */
}

.buttonPanelContainer {
  padding: 2rem;
}

.buttonPanel.hide {
  visibility: hidden;
}

.center {
  margin: auto;
  width: 75%;
}
