/* this same screen also has the issue icons
   these are found in ReportIssueButton.css */

.overViewPanel {
  position: relative;
  top: 1rem;
  right: 50%;
}

.buttonPanelContainer {
  display: inline-flex;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.buttonPanel.hide {
  visibility: hidden;
}

.center {
  margin: auto;
  width: 75%;
}
