.image-input {
  visibility: hidden;
  position: absolute;
}

.upload-icon {
  color: white;
  font-size: large;
}

.uploadBtnContainer {
  display: inline-block;
  width: 2rem;
  height: 1rem;
  padding: .5rem;
}

.reportFormBtnContainer {
  padding-top: .5rem;
  padding-bottom: .5rem;

}
.reportFormBtn {
  width: 4rem;
  height: 1rem;
  background-color: white;
}

.headerReportFormContainer {
  border-bottom: 2px solid white;
}
.headerReportFormContainer h3{
  color: white;
  
}