.buttonPanel {
  padding: 0rem;
}

.buttonPanel.hide {
  visibility: hidden;
}

.confirmPanel {
  /* color/styling */
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.15));
  backdrop-filter: blur(3px);

  padding: 1.5rem;
  border-radius: 15px;
  position: relative;
  right: 50%;
  bottom: 10rem;
}

.confirmPanel.hide {
  visibility: hidden;
}

.center {
  margin: auto;
  width: 75%;
}
