/*               */
/* css variables */
/*               */
* {
    --sidebarZindex: 5;
    
    --transparentBackground: rgba(255, 255, 255, 0);
    --translucentBackground: rgba(211, 211, 211, .25);
}

/* container position must be absolute */
#openBtnLogoContainer {
    /* container coordinate */
    z-index: var(--sidebarZindex);
    position: absolute;
    
    /* container size */
    width: 100vw;
    height: auto;
    max-width:100%;
    padding: 16px;

    background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.15));

    /* container animation */
    transition: margin-left .5s;
}

/* child is relative to parent container */
.openbtn {
    /* button coordinate */
    float: left;
    position: relative;

    /* ??? */
    cursor: default;

    /* button text formatting */
    font-size: 25px;
    color: black;

    /* button size */

    /* button color/styling */
    border: none;
    border-radius: 2rem;
    background-color: var(--transparentBackground);
}
.openbtn:hover {
    border-radius: 2rem;
    background-color: var(--translucentBackground);
}

/* child is relative to parent container */
.logo{
    /* overlay */
    position: relative;
    float: right;

    /* background-color: rgb(0, 255, 191); */
    
    font-family: "Karla", sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: black;
}
/* .logo:hover {
    color: lightgray;
    text-decoration: none;
} */


/*                        */
/* macro sidebar settings */
/*                        */

/* parent tag */
.sidebar {
    position: absolute;
    height: 100vh;
    width: 0;
    top: 0;
    left: 0;
    z-index: 7;
    
    /* color/styling */
    background-color: rgba(11, 3, 45, 0.95);
    backdrop-filter: blur(3px);

    box-shadow: -9px 0px 18px black inset;

    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: orange;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}

#sidebarLogo {
    position: absolute;
    float: left;
    bottom: 0%;
    width: auto;
    color: white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}