/*               */
/* css variables */
/*               */
* {
    --sidebarZindex: 5;
    
    --transparentBackground: rgba(255, 255, 255, 0);
    --translucentBackground: rgba(211, 211, 211, .25);
}

/*                                     */
/* main container + open button + logo */
/*                                     */

/* parent tag */
#main {
    position: absolute;
    width: 100vw;
    z-index: var(--sidebarZindex);

    transition: margin-left .5s;
    padding: 16px;
}

.openbtn {
    position: absolute;

    font-size: 25px;
    cursor: pointer;
    background-color: var(--transparentBackground);
    color: black;
    border: none;
    
}
.openbtn:hover {
    background-color: var(--translucentBackground);
}

.logo{
    position: relative;
    float: right;

    background-color: white;
    
    font-family: "Karla", sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: black;
}

.logo:hover {
    color: lightgray;
    text-decoration: none;
}


/*                        */
/* macro sidebar settings */
/*                        */

/* parent tag */
.sidebar {
    position: absolute;
    height: 25vh;
    width: 0;
    top: 0;
    left: 0;
    z-index: var(--sidebarZindex);
    
    background-color:rgba(255, 255, 255, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: lightgray;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}