/*               */
/* css variables */
/*               */
* {
    --sidebarZindex: 5;
    
    --transparentBackground: rgba(255, 255, 255, 0);
    --translucentBackground: rgba(211, 211, 211, .25);
}

/*                                     */
/* main container + open button + logo */
/*                                     */

/* parent tag */
#main2 {
    transition: margin-left .5s;
    padding: 16px;
    z-index: var(--sidebarZindex);
}

.openbtn2 {
    position:relative;
    /* change this to right */
    float: right;
    /* right: 10%;  */
    margin-top: 100%;
    z-index: var(--sidebarZindex);

    font-size: 25px;
    cursor: pointer;
    background-color: var(--transparentBackground);
    color: black;
    /* padding: 10px 15px; */
    border: none;
}
.openbtn2:hover {
    background-color: lightgray;
}

/*                         */
/* macro sidebar2 settings */
/*                         */

/* macro sidebar2 settings */
.sidebar2 {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: var(--transparentBackground);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50vh;
}

/* sidebar2 text settings */
.sidebar2 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    /* font color */
    color: black;
    display: block;
    transition: 0.3s;
}
.sidebar2 a:hover {
    color: lightgray;
}

.sidebar2 .closebtn2 {
    position: absolute;
    bottom: 0;
    float: right;
    
    /* right: 25px; */
    font-size: 20px;
    margin-right: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar2 {padding-top: 15px;}
    .sidebar2 a {font-size: 18px;}
}